<ion-view title="{{AppLogo}}">
  <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="adressePersonel">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <a class="button icon-right ion-home button-clear button-light" ui-sref="app">  </a>
  </ion-header-bar>
  <ion-content padding="true">
    <!-- Title -->
    <div>
      <h3 class="titlePhone"><b>{{title}}</b></h3>
    </div>
    <!--
        <div class="list">
         <label class="item item-input">
           <ion-google-place placeholder="Veuillez saisir votre adresse de travail..." ng-model="formData.address" geocode-options="geocodeOptions" />
         </label>
       </div> -->
    <br>
   <div class="list">
     <label class="item item-input">
       <input type="text" placeholder="Veuillez saisir votre adresse de travail..." ng-model="formData.addressTravail" googleplace="" class="ng-pristine ng-valid" autocomplete="off" ng-click="displayAdresseTooltip()" ><!-- googleplace -->
      </label>
    </div>
    <div id="popupAdrTravail" ng-class="{'hidden' : !showAdresseTooltip}" ng-if="fieldIsEmpty()">
      <div class="arrow-up"></div>
      <div id="adressePopup">
        {{adresseToolTip}}
      </div>
    </div>
    <!-- ACTIONS -->
    <div class="buttonConnect">
      <button class="button button-full button-positive green" data-ng-click="updateAdresseTravEmployeur()">Valider</button>
      <button ng-style="disableTagButton" class="button button-full button-positive grey icon-right ion-chevron-right" ui-sref="offres">Passer</button>
    </div>
  </ion-content>
</ion-view>
