
<ion-tabs class="tabs-icon-top tabs-background-calm tabs-color-light">

  <!-- Dashboard Tab -->
  <ion-tab title="Vue de liste" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" ui-sref="jobyersOffersTab.list">
    <ion-nav-view name="jobyersOffersTab-list"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Vue de carte" icon-off="ion-map" icon-on="ion-map" ui-sref="jobyersOffersTab.map">
    <ion-nav-view name="jobyersOffersTab-map"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Options" icon-off="ion-android-options" icon-on="ion-android-options" ui-sref="jobyersOffersTab.options">
    <ion-nav-view name="jobyersOffersTab-options"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>