<ion-view view-title="{{AppLogo}}">
<ion-content>

<div class="item item-divider" style="padding:3px 10px 3px 10px;">
	<label style="float:left;padding-top:5px;"><b>{{OfferLabel}}</b></label>
	<button class="button button-small button-light ion-ios-settings-strong" style="float:right;" ui-sref="jobyersOffersTab.options"></button>
	<button class="button button-small button-light ion-edit" style="float:right;"></button>
</div>

<ion-checkbox ng-model="jobyerListSetting.orderByAvialability" class="checkbox-calm" style="padding:8px;">
<label class="calm" style="padding-left:40px;">Disponible via &nbsp;&nbsp;&nbsp;<i class="icon ion-android-car calm"></i></label>
</ion-checkbox>
<ion-checkbox ng-model="jobyerListSetting.orderByCorrespondence" class="checkbox-stable" style="padding:8px;">
<label style="color:gray;padding-left:40px;">% de correspondance à la demande</label>
</ion-checkbox>

<div class="list">
	<a class="item item-avatar card" style="margin:6px;" href="#" ng-repeat="jobyerOffer in jobyersOffers | orderBy : SortOrder">
		<div class="item-icon-left">
			<div><i class="icon ion-person"></i></div>
		</div>
		<h2>{{jobyerOffer.jobyerName}}</h2>
		<p>
			<p><i class="icon ion-android-car calm">&nbsp;&nbsp;&nbsp;</i><label class="calm">{{jobyerOffer.availability.text}}</label></p>
			<p><i class="icon ion-arrow-shrink">&nbsp;&nbsp;&nbsp;</i><label style="color:gray;">{{jobyerOffer.matching}} %</label></p>
		</p>
	</a>
</div>

</ion-content>
</ion-view>