<ion-view view-title="{{AppLogo}}">
	<ion-content>
		<div class="list">
			<a class="item item-avatar card" href="#">
				<div class="item-icon-left">
					<div><i class="icon ion-person"></i></div>
				</div>
				<h2>Venkman</h2>
				<p>
					<p><i class="icon ion-android-car">&nbsp;&nbsp;&nbsp;</i>3h 15min</p>
					<p><i class="icon ion-arrow-shrink">&nbsp;&nbsp;&nbsp;</i>30 %</p>
				</p>
			</a>
			<a class="item item-avatar card" href="#">
				<div class="item-icon-left">
					<div><i class="icon ion-person"></i></div>
				</div>
				<h2>Venkman</h2>
				<p>
					<p><i class="icon ion-android-car">&nbsp;&nbsp;&nbsp;</i>3h 15min</p>
					<p><i class="icon ion-arrow-shrink">&nbsp;&nbsp;&nbsp;</i>30 %</p>
				</p>
			</a>
		</div>
	</ion-content>
</ion-view>