<ion-view title="offres">
  <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="offres">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <a class="button icon-right ion-home button-clear button-light" ui-sref="app">  </a>
  </ion-header-bar>
  <ion-content id="offresTabContent" padding="true" data-ng-init="initAll()">
    <!-- Title -->

     <ion-tabs class="tabs-icon-top">

        <ion-tab title="Job" icon="ion-briefcase">
          <ion-nav-view name="job-tab">
            <ion-view view-title="Job">
              <ion-content class="padding" padding="true">
                <div>
                  <h3 class="titlePhone"><b>Job</b></h3>
                </div>
                <!-- TITRE -->
                <div class="list">
                  <label class="item item-input">
                    <input type="text" id="titreOffre" placeholder="Titre de l'offre" data-ng-model="formData.titre">
                  </label>
                </div>
                <!-- METIERS -->
                <div class ="xcontainer">
                  <div angucomplete-alt id="metiers"
                       placeholder="Domaine"
                       maxlength="50"
                       pause="100"
                       selected-object="formData.metier"
                       local-data="formData.metiers"
                       search-fields="libelle"
                       title-field="libelle"
                       minlength="1"
                       input-class="form-control form-control-small"
                       match-class="highlight" class="autoCompl">
                  </div>
                  <select class="arriere flat select" data-ng-model="formData.metier" data-ng-init="formData.metier='Metiers'" data-ng-change="updateAutoCompleteMetier()">
                    <option selected disabled style="display: none;">Metiers</option>
                    <option id="metiers_value" data-ng-repeat="x in formData.metiers" value="{{x}}">{{x.libelle}}</option>
                  </select>
                </div>
                <!--  <div id="maitriseDiv"> -->
                  <!-- JOBS -->
                  <div class ="xcontainer">
                    <div angucomplete-alt id="jobs"
                         placeholder="Job"
                         maxlength="50"
                         pause="100"
                         selected-object="formData.job"
                         local-data="formData.jobs"
                         search-fields="libelle"
                         title-field="libelle"
                         minlength="1"
                         input-class="form-control form-control-small"
                         match-class="highlight" class="autoCompl">
                    </div>
                    <select  class="arriere flat select" data-ng-model="formData.job" data-ng-init="formData.job='Job'" data-ng-change="updateAutoCompleteJob()">
                      <option selected disabled style="display: none;">Job</option>
                      <option data-ng-repeat="x in formData.jobs" value="{{x}}">{{x.libelle}}</option>
                    </select>
                  </div>
                  <!-- MAITRISE -->
                  <img ng-src="img/{{formData.maitriseIcon}}" alt="" style="display: inline;max-width: 60px;max-height: 80px;vertical-align: middle;"/>
                  <label for="maitrise" style="display: inline-block; color:#757575;vertical-align: middle;" > {{formData.maitrise}}</label>
                  <div class="list rangeDiv">
                    <div class="item range range-calm">
                      <img src="img\tree1_small.png" style="display: inline;max-width: 60px;max-height: 80px;">
                      <input id="maitrise" type="range" name="volume" min="0" max="100" data-ng-model="formData.degre" data-ng-init="formData.degre=10" data-ng-change="rangeChange()">
                      <img src="img\tree4_small.png" style="display: inline;max-width: 60px;max-height: 80px;">
                    </div>
                  </div>
                <!-- </div> -->
            </ion-view>
          </ion-nav-view>
        </ion-tab>

       <ion-tab title="QI" icon="ion-happy-outline">
         <ion-nav-view name="qi-tab">
           <ion-view view-title="Qi">
             <ion-content class="padding" padding="true">
               <div>
                 <h3 class="titlePhone"><b>Qualités indispensables</b></h3>
               </div>
               <!-- INDESPENSABLES -->
               <div class="list">
                 <label class="item item-input">
                   <select class="flat selectClass" data-ng-model="formData.indisp" data-ng-init="formData.indisp='Qualités indispensables'">
                     <option selected disabled style="display: none;">Qualités indispensables</option>
                     <option data-ng-repeat="x in formData.transvers" value="{{x}}">{{x.libelle}}</option>
                   </select>
                 </label>
               </div>
               <button class="button button-full button-positive green" data-ng-click="ajouterQi();">Ajouter</button>
               <div class="row header">
                 <div class="col">Qualités indispensables</div>
               </div>
               <div class="row" ng-repeat="data in formData.qiList" >
                 <div class="col">{{data.libelle}}</div>
               </div>
               <button class="button button-full button-positive grey" data-ng-click="supprimerQi();">Supprimer</button>
           </ion-view>
         </ion-nav-view>
       </ion-tab>

       <ion-tab title="Langues" icon="ion-earth">
         <ion-nav-view name="langues-tab">
           <ion-view view-title="langues">
             <ion-content class="padding" padding="true">
               <div>
                 <h3 class="titlePhone"><b>Langues</b></h3>
               </div>
                 <!-- LANGUES -->
                 <div class ="list">
                   <label class="autoCompl item item-input">
                     <select class="flat selectClass" data-ng-model="formData.langue" data-ng-init="formData.langue='Langue'">
                       <option selected disabled style="display: none;">Langue</option>
                       <option data-ng-repeat="x in formData.langues" value="{{x}}">{{x.libelle}}</option>
                     </select>
                   </label>
                 </div>
                 <!-- MAITRISE Langue-->
                 <img ng-src="img/{{formData.maitriseLangueIcon}}" alt="" style="display: inline;max-width: 60px;max-height: 80px;vertical-align: middle;"/>
                 <label for="maitriseLangue" style="display: inline-block; color:#757575;vertical-align: middle;" > {{formData.maitriseLangue}}</label>
                 <div class="list rangeDiv">
                   <div class="item range range-calm">
                     <img src="img\tree1_small.png" style="display: inline;max-width: 60px;max-height: 80px;">
                     <input id="maitriseLangue" type="range" name="volume" min="0" max="100" data-ng-model="formData.degreLangue" data-ng-init="formData.degreLangue=10" data-ng-change="rangeLangueChange()">
                     <img src="img\tree4_small.png" style="display: inline;max-width: 60px;max-height: 80px;">
                   </div>
                 </div>
               <button class="button button-full button-positive green" data-ng-click="ajouterLangue();">Ajouter</button>
               <div class="row header">
                 <div class="col">Langues</div>
               </div>
               <div class="row" ng-repeat="data in formData.languesList" >
                 <div class="col">{{data.libelle}}</div>
               </div>
               <button class="button button-full button-positive grey" data-ng-click="supprimerLangue();">Supprimer</button>

           </ion-view>
         </ion-nav-view>
       </ion-tab>

       <ion-tab title="Agenda" icon="ion-calendar">
          <ion-nav-view name="agenda-tab">
            <ion-view view-title="agenda">
                <ion-content id="disponibiliteContent" padding="true" data-ng-init="initModalAll()">
                  <!-- Title -->
                  <div>
                    <h3 class="titlePhone"><b>Horaires de travail</b></h3>
                  </div>
                  <div class="list" style="text-align: left;padding: 7px;border-radius: 20px;border: 1px solid lightgray">
                    <label class="item item-input" style="border:none;">
                      <span class="input-label">Date de début</span>
                      <input type="date" placeholder="Date de début" data-ng-model="formData.dateDebut">
                    </label>
                    <label class="item item-input" style="border:none;">
                      <span class="input-label">Date de fin</span>
                      <input type="date" placeholder="Date de fin" data-ng-model="formData.dateFin" ng-disabled="formData.jamais">
                    </label>
                    <label class="item item-input" style="border:none;">
                      <span class="input-label"></span>
                      <ion-checkbox style="border:none;" ng-model="formData.jamais" data-ng-change="initDateFin();">Jamais</ion-checkbox>
                    </label>
                  </div>
                  <div class="item item-divider">
                    Répétitions
                  </div>
                  <div class="row" style="border: solid 1px gray;">
                    <div class="list" style="width: 42%;">
                      <ion-toggle ng-repeat="jour in formData.jours" toggle-class="toggle-light"
                                  ng-model="jour.checked"
                                  ng-checked="jour.checked">
                        {{ jour.nom }}
                      </ion-toggle>

                    </div>
                    <div class="list" style="margin-left: 19px;">
                      <div class="list">
                      <label style="text-align: left;" class="item item-input item-stacked-label">
                        <span class="input-label">Heure de début:</span>
                        <div class="row">
                          <input type="number"  step="1" value="0" min="0" max="24" placeholder="0" data-ng-model="formData.heureDebut" />H&nbsp;&nbsp;
                          <input type="number"  step="15" value="0" min="0" max="45" placeholder="0" data-ng-model="formData.minDebut" />min
                        </div>
                      </label>
                    </div>
                      <div class="list">
                      <label style="text-align: left;" class="item item-input item-stacked-label">
                        <span class="input-label">Heure de fin:</span>
                        <div class="row">
                          <input type="number"  step="1" value="0" min="0" max="24" placeholder="0" data-ng-model="formData.heureFin" />H&nbsp;&nbsp;
                          <input type="number"  step="15" value="0" min="0" max="45" placeholder="0" data-ng-model="formData.minFin" />min
                        </div>
                      </label>
                  </div>
                      <button class="button" ng-click="ajouterHeures();">Ajouter</button>
                      <br/><br/>

                      <div class="row header">
                        <div class="col">Heure de début</div>
                        <div class="col">Heure de fin</div>
                      </div>
                      <div class="row" ng-repeat="data in formData.heures" >
                        <div class="col">{{data.heureDebut}}</div>
                        <div class="col">{{data.heureFin}}</div>
                      </div>
                      <br/>
                      <button class="button" ng-click="supprimerHeures();">Supprimer</button>
                      <br/><br/>
                      <label class="item item-input">
                        <input type="text" placeholder="Taux horaire brut" data-ng-model="formData.remuneration">
                      </label>
                    </div>
                  </div>
                  <br>
                  <!-- ACTIONS -->
                  <div class="buttonConnect">
                    <button class="button button-full button-positive green" data-ng-click="validerOffre();">Valider</button>
                  </div>
                </ion-content>

            </ion-view>
          </ion-nav-view>
        </ion-tab>

      </ion-tabs>

  </ion-content>
</ion-view>

