<ion-view id="PaiementOptionsView" title="{{AppLogo}}">
  <!-- <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="map.connection">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <h1 class="title">Connexion</h1>
    <a class="button icon-right ion-home button-clear button-light" ui-sref="menu.app">  </a>
  </ion-header-bar> -->
  <ion-nav-title>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
  </ion-nav-title>
  <ion-content padding="true" data-ng-init="initForm()">
    <br>
    <!-- Title -->
    <div>
      <h3 class="titlePhone"><b>Choisissez votre mode de paiement : </b></h3>
    </div>

    <div class="list">

      <div class="item item-divider" style="background-color: #757575; color: white;">
        <b>SlimPay</b>
      </div>
      <a class="item" href="" style="text-align: left;" ng-click="Redirect()">
        <i class="icon ion-social-euro" style="font-size: x-large">&nbsp;</i>
        Paiement par compte bancaire<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b style="font-size: small">Saisie de l'IBAN</b>
      </a>

      <div class="item item-divider" style="background-color: #14BAA6;">
        <b>PayLine</b>
      </div>
      <a class="item" href="#" style="text-align: left;">
        <i class="icon ion-card" style="font-size: x-large"></i>
        Paiement par carte bancaire
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b style="font-size: small">Prise de l'empreinte</b>
      </a>

    </div>

    <!--ion-radio ng-repeat="item in paiementModeList"
                   ng-value="item.value"
                   ng-model="data.mode"
                   name="paiement-mode">
                        {{ item.text }}
    </ion-radio-->




        <!-- PASSWORD -->

        <!--<div>
          <h5 class="titlePhone">Votre mot de passe : </h5>
        </div>

        <label class="item item-input">
          <i class="icon ion-locked placeholder-icon calm" style="font-size: large"></i>
          <input type="password" ng-focus="displayPwdTooltip()" ng-click="displayPwdTooltip()"
                 placeholder="Mot de passe" ng-model="formData.password" ng-minlength="6">
        </label>

        <div id="popupCntPwd" ng-class="{'hidden' : ! showPwdTooltip}" ng-if="!passwordIsValid()">
          <div class="arrow-up"></div>
          <div id="pwdPopup">
            Taille minimale: 6 caractères
          </div>
        </div>
      </div>-->

      <!-- ACTIONS -->
      <!--div class="buttonConnect">
        <button class="button button-full button-positive green" data-ng-click="Redirect()">Valider
        </button>
        <button class="button button-full button-positive grey" ui-sref="contract">Annuler</button>
      </div-->
  </ion-content>
</ion-view>
