<ion-view id="civiliteView" title="{{AppLogo}}">
<!-- <ion-nav-buttons side="primary">
    <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="app">  </a>
    </ion-nav-buttons> -->
    <ion-nav-buttons side="secondary">
    <a class="button icon-right ion-chevron-right button-clear button-light" ui-sref="adressePersonel">  </a>
    </ion-nav-buttons>
  
  <ion-content padding="true" data-ng-init="initForm()">

    <!-- Title -->
    <div>
      <h3 class="titlePhone"><b>Saisie de la civilité</b></h3>
    </div>

    <!-- TITRE -->
    <div class="list">
      <label class="item item-input">
        <select class="flat" data-ng-model="formData.civ" data-ng-init="formData.civ='Titre'">
          <option selected disabled style="display: none;">Titre</option>
          <option data-ng-repeat="x in formData.civilites" value="{{x.pk_user_civilite}}">{{x.libelle}}</option>
        </select>
      </label>
      <label class="item item-input">
        <input type="text" id="nom" placeholder="Nom" data-ng-model="formData.nom">
      </label>
      <label class="item item-input">
        <input type="text" id="prenom" placeholder="Prenom" data-ng-model="formData.prenom">
      </label>
      <label class="item item-input">
        <input type="text" id="entreprise" placeholder="Nom entreprise" data-ng-model="formData.entreprise">
      </label>
      <label class="item item-input">
        <input type="text" id="siret" placeholder="SIRET" data-ng-model="formData.siret" data-ng-change="validateSiret('siret')">
      </label>

      <label class="item item-input">
        <input type="text" id="ape" placeholder="Code APE ou code NAF" data-ng-model="formData.ape" data-ng-change="validateApe('ape')">
      </label>
      <label class="item item-input">
        <input type="text" id="urssaf" placeholder="N°URSSAF" data-ng-model="formData.numUssaf">
      </label>

    </div>

    <!-- NATIONALITE
    <div angucomplete id="ex0"
                placeholder="Nationalité"
                pause="100"
                selectedobject="formData.nationalite"
                localdata="formData.nationalites"
                searchfields="libelle"
                titlefield="libelle"
                minlength="1"
                inputclass="form-control form-control-small inputAutoCompl" class="autoCompl">
    </div>-->

    <div align="list">
      <!-- <h3 class="titlePhone">Charger un scan de votre extrait k-bis</h3> -->
      <button class="button button-full button-positive green" data-ng-click="selectImage()">
        Charger un scan de votre extrait k-bis
      </button>
      <button class="button button-full button-positive green" data-ng-click="takePicture()">
        Prendre une photo de votre extrait k-bis
      </button>
      <div ng-controller="saisieCiviliteEmployeurCtrl">
      <img id="uploadPreview" ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="max-width: 100px; max-height: 100px;" />
      </div>
    </div>

    <!--&lt;!&ndash; Image uploader &ndash;&gt;
    <div class="list">
        <label class="item item-input">
          &lt;!&ndash;<input id="image" type="file" class="upload" data-ng-model="formData.image" multiple onchange="angular.element(this).scope().loadImage()">
          <input id="image" type="file" class="upload" accept="image/*" data-ng-model="formData.image" onchange="angular.element(this).scope().takePicture()">&ndash;&gt;
          <input id="image" type="file" class="upload" capture="camera" accept="image/*" data-ng-model="formData.image" onchange="angular.element(this).scope().loadImage(this)">
        </label>
    </div>-->

    <!-- ACTIONS -->
    <div class="buttonConnect">
      <button class="button button-full button-positive green" data-ng-click="updateCiviliteEmployeur()">Valider</button>
    </div>

  </ion-content>
</ion-view>
