<ion-view id="resetPasswordView" title="{{AppLogo}}">
    <ion-nav-title>
        <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    </ion-nav-title>
    <ion-content padding="true" data-ng-init="initForm()">
        
        <!-- PASSWORD -->
        <div>
            <h3 class="titlePhone" style="text-align: left;">Votre mot de passe :</h3>
        </div>

        <label class="item item-input">
            <i class="icon ion-locked placeholder-icon calm" style="font-size: large"></i>
            <input type="password" ng-focus="displayPwdTooltip()" ng-click="displayPwdTooltip()"
                placeholder="Mot de passe" data-ng-model="formData.password">
        </label>

        <div id="popupCntPwd" ng-class="{'hidden' : ! showPwdTooltip}" ng-if="!passwordIsValid()">
            <div class="arrow-up"></div>
            <div id="pwdPopup">
            Taille minimale: 6 caractères
            </div>
        </div>
        
        <br>
    
        <!-- ACTIONS -->
        <div class="buttonConnect">
            <button class="button button-full button-positive green" data-ng-click="VerifyPassword()"
                    ng-disabled="!formData.password">Verifier
            </button>
            <!--<button class="button button-full button-positive grey" ui-sref="connection">Renvoyer Mot de passe</button>-->
            <button class="button button-full button-positive grey" ui-sref="connection">Quitter</button>
        </div>
  </ion-content>
</ion-view>
